#######################################
# 1. common part
#######################################
{% include "_config-common" %}
{% if os.environ.get("XDG_CURRENT_DESKTOP") == "XFCE" %}
#######################################
# 2. XFCE part
#######################################
{% include "_config-i3" %}
{% else %}
#######################################
# 2. no DE / bare i3 part
#######################################
{% include "_config-xfce" %}
{% endif %}
