#######################################
# common settings
#######################################
{% include "_config-common" %}
#######################################
# DE-specific settings
#######################################
{% if os.environ.get("XDG_CURRENT_DESKTOP") == "XFCE" %}
    {%- include "_config-xfce" %}
{% else %}
    {%- include "_config-i3" %}
{% endif %}
